<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>

  <div class='search-bar-contents'>
    <div class="nav-top">
      <div class="nav-left">
        <%= link_to image_tag("logo.jpg", class:"takeout-icon"), "/" %>
      </div>
      <div class="nav-center">

        <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "商品名で探す", class: "input-box" %>
        <%# form.submit "検索", class: "search-btn" %>
        <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
          </button>
        <% end %>
      
      </div>
      <div class="nav-right">
        <div class="nav-user">
          <% if user_signed_in? %>
            <div class='nav-user-list'>
                <p>こんにちは</p>
                <p><%= link_to current_user.nickname, root_path, class: "user-nickname" %>さん</p>
                <div><%# link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></div>
                <div class="log-out">
                <%= link_to destroy_user_session_path, method: :delete do %>
                 <button type="button" class="return-btn">ログアウト</button>
                <% end %>
                <%= link_to user_path(current_user) do %>
                 <button type="button" class="btn">マイページへ</button>
                <% end %>
                </div>
            <% if current_user.admin? %>
              <div class='nav-admin-list'>
                <%= link_to rails_admin_path do %>
                 <button type="button" class="btn">ダッシュボード</button>
                <% end %>
                <%= link_to new_item_path do %>
                 <button type="button" class="btn">出品</button>
                <% end %>
                <div><%# link_to '管理者ページ', rails_admin_path, class: "admin-page-btn" %></div>
                <div><%# link_to '商品出品', new_item_path, class: "item-sell-btn" %></div>
              </div>
            <% end %>
            </div>
          <% else %>
            <ul class='nav-user-list'>
                <%= link_to new_user_session_path do %>
                 <button type="button" class="btn">ログイン</button>
                <% end %>
                <%= link_to new_user_registration_path do %>
                 <button type="button" class="btn">新規登録</button>
                <% end %>
                <%= link_to "#" do %>
                 <button type="button" class="btn">（予備）</button>
                <% end %>
                <li><%# link_to 'ログイン', new_user_session_path, class: "login" %></li>
                <li><%# link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
            </ul>
          <% end %>
        </div>
      </div>
      <% if (user_signed_in? && !current_user.admin) || !user_signed_in? %>  
      <div class='cart-btn'> 
        <a href="/basket">
          <%= image_tag 'digital-2214139_640.png' , size: '70x70' ,class: "cart-btn-icon" %>
          <div><span class="cart-btn-text"><%# @basketitems.count %> </span>
          </div>
        </a>
      </div> 
      <% end %>
    </div> 
    <div class='nav-bottom'>
      <ul class='nav-bottom-tags'>
        <li><%# link_to 'ジャンル', "#", class: "genre-list" %></li>
        <li><%# link_to 'サイズ', "#", class: "size-list" %></li>
        <li><%# link_to 'お作り時間', "#", class: "surve-speed-list" %></li>
      </ul>
    </div>
  </div>
</header>