<%= render "shared/header" %>
<div class='main'>
 <% breadcrumb :root %>
  <div class="slide-main">
    <div class="simpleSlideShow">
      <div class="slider">
        <img src="assets/foodiesfeed.com_pizza-with-ricotta-cheese-close-up" width="500" height="400" alt="メイン画像">
        <img src="assets/foodiesfeed.com_my-bread-and-butter.jpg" width="500" height="400" alt="メイン画像">
        <img src="assets/foodiesfeed.com_chocolate-cake-in-a-restaurant" width="500" height="400" alt="メイン画像">
        <img src="assets/141059_s.jpg" width="500" height="400" alt="">
        </div>
        <div class='slide-contents'>
          <h1 class='service-title'>
            お家で高級イタリアンの味を
          </h1>
          <p class='service-explain'>
            Anytime::Italianoは、テイクアウトの事前予約と決済ができる
          </p>
          <p class='service-explain'>
            レストランの持ち帰り専用アプリです
          </p>
          <div class='store-btn'>
            <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
            <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
          </div>
        </div>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>メニュー一覧</h2>
    <%= link_to '', "#", class: "subtitle" %>
    <ul class='item-lists'>

    <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image.variant(resize:'200x200'), class: "item-img" if item.image.attached? %>
         
          <%# if item.order != nil %>
          <%# <div class='sold-out'> 
           <span>Sold Out!!</span>
          </div>
          <%= end %>
          
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%# image_tag "star.png", class:"star-icon" %>
              <%# <span class='star-count'>0</span> %>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>


    </ul>
  </div>
  <%# //商品一覧 %>
</div>



<%= render "shared/footer" %>