<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      お家で高級レストランの味を
    </h2>
    <p class='service-explain'>
      HOUSE RESTAURANTは、テイクアウトを事前予約と決済ができる
    </p>
    <p class='service-explain'>
      レストランの持ち帰り専用アプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# //画面上部の「人生を変えるフリマアプリ」帯部分  %>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>メニュー一覧</h2>
    <%= link_to '新着商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

    <%= @items.each do |item| %>
      <li class='list'>
        <%# link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%# image_tag item.image, class: "item-img" if item.image.attached? %>
         
          <%# if item.order != nil %>
          <%# <div class='sold-out'> 
           <span>Sold Out!!</span>
          </div>
          <%= end %>
          
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.display_price %><br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <%# end %>
      </li>
    <% end %>


    </ul>
  </div>
  <%# //商品一覧 %>
</div>

<div class='purchase-btn'>
  <span class='purchase-btn-text'>買い物かご</span>
  <a href="#">
    <%= image_tag 'digital-2214139_640.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div> 

<%= render "shared/footer" %>