<%= render "shared/header" %>
<div class='main'>

  <div class="ransack-search">
    <h1>商品検索</h1>
    <br>
    <%= search_form_for @p, url: second_search_items_path do |f| %>
      <%= f.label :name_cont, '商品名', class: 'label' %>
      <%= f.text_field :name_cont, placeholder: 'キーワード', class: 'field' %>
      <br>
      <%= f.label :description_cont, '商品の説明', class: 'label' %>
      <%= f.text_field :description_cont, placeholder: 'キーワード', class: 'field' %>
      <br>
      <%= f.label :genre_category_id_eq, '商品のジャンル', class: 'label' %>
      <%= f.collection_select :genre_category_id_eq, @genre_category, :id, :name, {include_blank: '指定なし'}, {class: 'field'} %>
      <br>
      <%= f.label :saize_category_id_eq, '商品のジャンル', class: 'label' %>
      <%= f.collection_select :saize_category_id_eq, @saize_category, :id, :name, {include_blank: '指定なし'}, {class: 'field'} %>
      <br>
      <%= f.label :speed_id_eq, '商品のジャンル', class: 'label' %>
      <%= f.collection_select :speed_id_eq, @speed, :id, :name, {include_blank: '指定なし'}, {class: 'field'} %>
      <br>
      <%= f.label :price, '価格：' %>
      <%= f.radio_button :price_lteq, '' %>
      指定なし
      <%= f.radio_button :price_lteq, '500' %>
      500円以下
      <%= f.radio_button :price_lteq, '1000' %>
      1000円以下
      <%= f.radio_button :price_lteq, '2000' %>
      2000円以下
      <%= f.radio_button :price_lteq, '3000' %>
      3000円以下
      <br>
      <%= f.submit '検索する' %>
    <% end %>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>メニュー一覧</h2>
    <%= link_to '', "#", class: "subtitle" %>
    <ul class='item-lists'>

  <% if @results.length !=0 %>
    <% @results.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image.variant(resize:'200x200'), class: "item-img" if item.image.attached? %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%# image_tag "star.png", class:"star-icon" %>
              <%# <span class='star-count'>0</span> %>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
    </ul>
    <% else %>
    該当する商品はありません
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>